<!DOCTYPE html>
<html>
<head>
  <title>GeniusApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application','index' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= yield %>
</div>

</body>
<hr />
<p class="text-center">Powered by <a href="http://www.genius.com">Genius</a>, <a href="http://aylien.com/">Aylien</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="https://github.com/timrogers/rapgenius">Tim's gem</a></p>
<hr />
</html>
